@media screen and (max-width: 769px) {
  .img-eu {
    width: 0;
    height: 0;
  }
  .text-container {
    margin-left: 0px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .intro p {
    font-size: 1.2rem;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .img-project {
    max-width: 350px;
  }

  .box img {
    width: 40%;
  }
}

@media screen and (max-width: 388px) {
  .img-project {
    max-width: 250px;
  }

  .project-item button {
    font-size: 1rem;
  }
  .box img {
    width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .education-column {
    padding: 10px;
    margin: 15px;
    border: 2px solid #5c469c;
    border-radius: 20px;
  }
  .education-column {
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 20px;
  }
}

@media screen and (max-width: 284px) {
  .img-project {
    max-width: 150px;
  }
  .project-item button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 424px) {
  .box {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    color: #5c469c;
  }

  .box p {
    font-size: 0.8rem;
  }
}
